:root {
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
}
body {
    font-family: "Oswald", sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
    overflow-x: hidden;
}
.text-title {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.text-blue {
    color: var(--mainBlue);
}
.text-bright {
    color: var(--lightBlue);
}
.navbar-brand {
    width: 100px;
}
.nav-link {
    color:var(--mainWhite);
}
.nav-link:hover {
    color: var(--mainDark) !important;
}

li {
    list-style-type: none;
}

.add-to-cart {
    bottom: 0;
    right: 0;
}

.cart-button {
    text-transform: capitalize;
    font-size: 1.2rem;
    background: transparent;
    border: 0.05rem solid var(--lightBlue);
    color: var(--mainWhite);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    margin: 0.2rem 0.5rem 0;
    transition: all 0.5s ease-out;
}
.cart-button:hover {
    background: var(--lightBlue);
    color: var(--mainWhite);
    border-color: var(--mainWhite);
}

.cart-button span {
    top: -15px;
    right: -15px;
}